@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-ExtraBoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/Nano-sans/NotoSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: normal;
  background-color: white;
}

.MuiContainer-root {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.appStoreSvg {
  background: url("./assets/marketplaces/appStore.webp") 50% 50% no-repeat;
  background-size: 176px;
  padding: 35px 85px;
  cursor: pointer;
}

.googlePlaySvg {
  background: url("./assets/marketplaces/googlePlay.webp") 50% 50% no-repeat;
  background-size: 176px;
  padding: 35px 85px;
  cursor: pointer;
}

.googlePlaySvg.footer, .appStoreSvg.footer {
  background-size: 166px;
  padding: 35px 80px;
  margin: 0;
}

.firstPreviewImg {
  background: url("./assets/imgs/img1.webp") 50% 50% no-repeat;
  background-size: 1200px;
  padding: 380px 600px;
}

.lastPreviewImg {
  background: url("./assets/imgs/img2.webp") 50% 50% no-repeat;
  background-size: 488px;
  padding: 300px 250px;
}

.MuiBox-root.firstSection, .MuiBox-root.fiveSection, .MuiBox-root.footerSection {
  background: linear-gradient(
          90deg,
          rgba(188, 218, 243, 0.61) 0%,
          rgba(220, 247, 251, 0.68) 45%,
          rgba(196, 246, 251, 0.43) 100%
  );
}

.Mui-selected {
  background-color: rgba(246, 248, 251, 1) !important;
}

.section {
  margin: 30px;
}

button.MuiButton-textPrimary {
  font-family: 'Noto Sans';
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #292E3C;
}

button.active {
  font-weight: bold;
}

.button.active::after {
  content: "";
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 0px;
  height: 6px;
  background: linear-gradient(
          90deg,
          rgb(173,216,230),
          rgb(176,224,230),
          rgb(221,241,250),
          rgb(200,200,255)
  );
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
  pointer-events: none;
}

h1.MuiTypography-root {
  font-family: 'Noto Sans';
  font-weight: bold;
  font-style: normal;
  font-size: 70px;
  color: #272B37;
}

h2.MuiTypography-root {
  color: rgba(39, 43, 55, 1);
  font-family: 'Noto Sans';
  font-weight: bold;
  font-style: normal;
  font-size: 60px;
}

h4.MuiTypography-root, h4 {
  font-family: 'Noto Sans';
  font-weight: 600;
  font-style: normal;
  font-size: 26px;
  color: #272B37;
}

p.MuiTypography-root, li.MuiTypography-root {
  font-family: 'Noto Sans';
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #7E8891;
}

.firstSection p.MuiTypography-root {
  color: #3A4755;
}

.firstSection span.MuiTypography-root {
  font-weight: 600;
}

span.MuiTypography-root {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #7E8891;
  text-decoration: none;
}



.MuiPaper-root .MuiCardContent-root {
  padding: 0;
  margin: 10px 0 0 0;

}

.fiveSection .MuiPaper-root .MuiCardContent-root {
  margin: 0;
  padding: 16px 23px;
  background: #F6F8FB;
  width: 100%;
  border-radius: 14px;
}

main.page-root {
  position: relative;
  overflow: hidden;
}

.blob-page-root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  pointer-events: none;
  z-index: 50;
  overflow-y: visible;
  overflow-x: clip;
}
@supports not (overflow-x: clip) {
  .blob-page-root { overflow-x: hidden; }
}

.blob {
  position: absolute;
  border-radius: 50%;
  will-change: transform;
}

.MuiGrid-root .card {
  height: 100%;
  box-shadow: none  ;
}

.fiveSection .MuiGrid-root .card {
  display: flex;
  gap: 16px;
}

.MuiBox-root.fiveSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {

}

@media (prefers-reduced-motion: reduce){
  .blob{ transition: none !important; transform: translate3d(50vw, 50vh, 0) scale(1) !important; }
}

@media screen and (max-width: 1000px){
  .firstSection .starSvg {
    top: -20px;
    right: 0;
    width: 11px;

  }
  .section .googlePlaySvg, .section .appStoreSvg {
    background-size: 155px;
    padding: 30px 75px;
    margin: 0;
  }

  .section.firstSquircle {
    margin-top: 10px !important;
  }

  .section {
    margin: 30px 6px !important;
    padding: 0 !important;
  }
  h1.MuiTypography-root {
    font-size: 30px;
  }
  h2.MuiTypography-root {
    font-size: 26px;
  }
  h4.MuiTypography-root, h4 {
    font-size: 18px;
  }
  p.MuiTypography-root, li.MuiTypography-root {
    font-size: 16px;
  }
  span.MuiTypography-root {
    font-size: 12px;
  }
  button.MuiButton-textPrimary {
    font-size: 12px;
  }
  .firstPreviewImg {
    background-size: 400px;
    padding: 130px 200px;
  }
  .lastPreviewImg {
    background-size: 300px;
    padding: 190px 150px;
  }
}

@media screen and (max-width: 1220px){
  .googlePlaySvg.footer, .appStoreSvg.footer {
    background-size: 132px;
    padding: 25px 65px;
    margin: 0;
  }
}

@media screen and (max-width: 1380px) and (min-width: 900px) {
  .MuiButtonBase-root.MuiButton-root.changeLangBtn {
    width: 100px;
  }
}
